{% extends "learning_logs2/base.html" %}

{% block page_header %}
  <h2>Topics</h2>
{% endblock page_header %}

{% block content %}

  {% for topic in topics %}
    <div class="card mb-3">
      <h4 class="card-header">
        <a href="{% url 'learning_logs2:topic' topic.id %}">{{ topic }}</a>
        <small><a href="{% url 'learning_logs2:del_topic' topic.id %}" style="margin-left: 15px;">delete</a></small>
      </h4>
    </div>
  {% empty %}
    <h5>No topics have been added yet.</h5>
  {% endfor %}

  <h5><a href="{% url 'learning_logs2:new_topic' %}">Add a new topic</a></h5>

{% endblock content %}
